@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String, pageNumber: Int, userInfo: UserModel)(content: Html )

@* And here's where we render the `Html` object containing
* the page content. *@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/auth-style.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/equip-style.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/profile.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/lic.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
</head>
<body>
<div class="header">
    <div class="show-nav-bar">
        <button onclick="
                        var img = document.getElementById('show-nav').src;
                        console.log(img);
                        if (img.indexOf('show')!=-1) {
                            console.log('*');
                            document.getElementById('show-nav').src = 'assets/images/close-nav.png';    
                        } else {
                            console.log('*');
                            document.getElementById('show-nav').src = 'assets/images/show-menu.png';  
                        }
                        document.getElementById('nav-bar').classList.toggle('active');
                        document.getElementsByClassName('nav-bar-text')[0].classList.toggle('nav-active');
                        document.getElementsByClassName('nav-bar-text')[1].classList.toggle('nav-active');
                        document.getElementsByClassName('nav-bar-text')[2].classList.toggle('nav-active');
                        document.getElementsByClassName('nav-bar-text')[3].classList.toggle('nav-active');"  
                        >   
            <img id="show-nav" src="@routes.Assets.versioned("images/show-menu.png")" width="22"></div>
        </button>
    @if(userInfo.email == "") {
        <div class="not-auth" href="@routes.UserController.profile">
            <a href="@routes.UserController.login" class="login-btn" value="1">Войти</a>
            <a href="@routes.UserController.signUp" class="login-btn signup-button" value="1">Регистрация</a>
        </div>
        } else {
        <a class="profile" href="@routes.UserController.profile">
            <span class="profile-icon">
                @userInfo.name(0).toUpper@userInfo.surname(0).toUpper
            </span>
            @if(userInfo.name.length + userInfo.surname.length < 20) {
                @userInfo.name
                @userInfo.surname
            } else if(userInfo.surname.length + 2 < 20) {
                @userInfo.name(0).
                @userInfo.surname
            } else {
                @userInfo.name(0).
                @userInfo.surname.slice(0, 16)..
            }
            <br>
            @if(userInfo.isAdmin) {
                <span class="admin">Администратор</span>
            }
        </a>
        }
    <div class="nav-path"></div>
</div>
<div id="nav-bar" class="nav-bar">
    <ul>
        <li @if(pageNumber == 1){ class="current" }><a href="@routes.HomeController.myEquip(1, "")"><span class="nav-bar-text">Мое оборудование</span><img src="@routes.Assets.versioned("images/my-equip.png")"></a></li>
        <li @if(pageNumber == 2){ class="current" }><a href="@routes.HomeController.equip(1, "")"><span class="nav-bar-text">Оборудование</span><img src="@routes.Assets.versioned("images/equip.png")"></a></li>
        <li @if(pageNumber == 3){ class="current" }><a href="@routes.HomeController.license(1, "", false)"><span class="nav-bar-text">Лицензии и сертификаты</span><img src="@routes.Assets.versioned("images/lic.png")"></a></li>
        <li @if(pageNumber == 4){ class="current" }><a href="@routes.HomeController.act"><span class="nav-bar-text">Акт приема-передачи</span><img src="@routes.Assets.versioned("images/act.png")"></a></li>
    </ul>
</div>
<div class="content">
    @content
</div>
<script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
</body>
</html>